.project-name {
    white-space: nowrap;
}

.description {
    height: 100px;
    text-align: center;
}

.image.main {
    margin-bottom: 0;
}

.game-description {
    overflow: hidden;
    animation: expand 6s linear forwards;
    display: block;
  }
  
  @keyframes expand {
    0% {
      height: 0px;
    }
    100% {
      height: 100px;
    }
  }
